.description {
    &__header {
        display: flex;
        align-items: center;
        width: 99%;
        height: 81px;
        padding-left: 10px;
        border-bottom: 1px solid #cfd8dc;

        &-text {
            font-size: 15px;
            font-weight: 700;
            color: #cfcfcf;
        }
    }

    &-text {
        padding-top: 15px;
        padding-left: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    &__buttons {
        display: flex;
        gap: 15px;
        margin-top: 15px;

        &-cancel,
        &-start {
            width: 82px;
            height: 32px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 3px;
        }

        &-start {
            margin-left: 10px;
            color: white;
            background-color: #d32f2f;

            &:hover {
                background-color: #e46464;
            }

            &:active {
                background-color: #4d0e0e;
            }
        }

        &-cancel {
            color: #707070;
            background-color: white;
            border: 1px solid #707070;

            &:hover {
                background-color: #cfcfcf;
            }

            &:active {
                background-color: #aaa;
            }
        }
    }
}
